.navbar-collapse{
	text-align: center;
}
#abertura{
	font-size: 25px;
	letter-spacing: 2px;
}
#foto-perfil{
	height: 40px;
}
body {
    background-color: #FFF;
}
.ouro{
	color: #CCAC00;
	text-transform: uppercase;
}
#perfil{
	padding: 50px;
}

.navbar, .navbar.navbar-default {
    background-color: rgba(204,172,0, 0.85);
 }
 a, a:hover, a:focus {
    color: #CCAC00;
}

.navbar-nav > li > a {
    display: inline-block;
}
.nav>li>a {
	display: inline-block;
}
.justificado{
	text-align: justify;
}
hr {
      color: #CCAC00;
      background-color: #CCAC00;
      height: 1px;
}
.rodape{
	background-color: #CCAC00;
	margin-top: 40px;
	color: #FFF;
}
.barra-ouro{
	background-color: #CCAC00;
	height: 3px;
}
.cursor{
	font-size: 30px;
	display: inline-block;
	margin: 0 10px;
	color: #fff;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}