.navbar-collapse{
	text-align: center;
}
#abertura{
	font-size: 25px;
	letter-spacing: 2px;
}
#foto-perfil{
	height: 40px;
}
body {
    background-color: #FFF;
}
.ouro{
	color: #CCAC00;
	text-transform: uppercase;
}
#perfil{
	padding: 50px;
}

.navbar, .navbar.navbar-default {
    background-color: rgba(204,172,0, 0.85);
 }
 a, a:hover, a:focus {
    color: #CCAC00;
}

.navbar-nav > li > a {
    display: inline-block;
}
.nav>li>a {
	display: inline-block;
}
.justificado{
	text-align: justify;
}


