.navbar-collapse{
	text-align: center;
}
#abertura{
	font-size: 25px;
	letter-spacing: 2px;
}
#foto-perfil{
	height: 40px;
}
body {
    background-color: #FFF;
}
.ouro{
	color: #CCAC00;
	text-transform: uppercase;
}
#perfil{
	padding: 50px;
}

.navbar, .navbar.navbar-default {
    background-color: #CCAC00;
 }
 a, a:hover, a:focus {
    color: #CCAC00;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #CCAC00;
    color: #FFFFFF;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}
.nav-pills > li > a {
	min-width: 180px;
}
.navbar-nav > li > a {
    display: inline-block;
}
.nav>li>a {
	display: inline-block;
}